<!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8" />
  <title>Ejemplo API Weather Maps</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
 
<body>
  <div id="contenedor1"></div>
  <div id="contenedor2"></div>
  <script>
    $(window).on("load", function () {
      var datos = {
        q: "<%= nombreCiudad %>,es",
        lang: "es",
        APPID: "589ab5bc575273f0a45e8bde4ae5d6a5"
      };
 
      $.getJSON("http://api.openweathermap.org/data/2.5/weather", datos, function (
        respuesta
      ) {
        google.charts.load("current", { packages: ["corechart"] });
 
        function drawChart2() {
          var options = {
            title: "Temperatura en <%= nombreCiudad %>",
            width: 550,
            height: 400
          };
 
          var data = google.visualization.arrayToDataTable([
            [
              "Elemento",
              "Temperatura",
              "Temperatura Máxima",
              "Temperatura Mínima",
            ],
            ["Temperatura Máxima", 0, parseFloat("<%= temperaturaMaxCiudad %>"), 0],
            ["Temperatura Media", parseFloat("<%= temperaturaCiudad %>"), 0, 0],
            ["Temperatura Mínima", 0, 0, parseFloat("<%= temperaturaMinCiudad %>")]
          ]);
 
          var chart2 = new google.visualization.BarChart(
            document.getElementById("contenedor2")
          );
 
          chart2.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart2);
 

        console.log(respuesta);
        $("#contenedor1").html(
          "<p>Estamos en <%= nombreCiudad %> y la temperatura es: " + "<%= temperaturaCiudad %></p>"
        ).append("<img class='weather-widget__img' src='https://openweathermap.org/img/w/" + respuesta.weather[0].icon + ".png' alt='Weather London , GB' width='50' height='50'>")
      });
    });
  </script>
</body>
 
</html>